<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--     Unity meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!--     Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Unity links -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/TemplateData/style.css" />

    <title>Testbed test</title>
  </head>
  <body>
    <div class="container-fluid pt-3">
      <div class="row text-center">
        <h1>Virtual showroom coming soon!</h1>
        <h3>Industrial AI for Manufacturing and Robotics</h3>
      </div>
      <!-- Unity div -->
      <div class="webgl-content pt-2 row d-flex justify-content-center">
        <div id="unityContainer" style="width: 80vw; height: 70vh"></div>
        <div class="footer" style="width: 80vw; height: 38px">
          <div
            class="fullscreen"
            onclick="unityInstance.SetFullscreen(1)"
          ></div>
        </div>
      </div>
    </div>
    <!-- Unity scripts -->
    <script src="/TemplateData/UnityProgress.js"></script>
    <script src="/Build/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate(
        "unityContainer",
        "Build/<%= currentJson %>",
        { onProgress: UnityProgress }
      );
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
